.Button {
  padding: 11px 34px;
  font-size: 1em;
  background-color: var(--primary);
  border-radius: 4px;
  border: none;
  color: var(--light);
  text-decoration: none;
  line-height: 1em;
  display: inline-block;

  &--active {
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--primary-active);
  }
  &:active {
    background-color: var(--secondary-active);
  }

  &--clear {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
  }
}
