footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
  a {
    color: var(--light);
    font-style: italic;
    &:active {
      color: var(--complimentary-active);
    }
  }
}
